In [1]:
%matplotlib inline
import matplotlib.pyplot as plt
import pandas as pd

In [2]:
costData = pd.read_csv('costData.csv')
costData.head()

,Unnamed: 0,disasterNumber,obligationAmount,state,incidentType,declarationTitle,incidentBeginDate
0,0,3345,904490.14,WV,Severe Storms,SEVERE STORMS,2012-06-29T22:30:00.000Z
1,1,3346,842464.67,OH,Severe Storms,SEVERE STORMS,2012-06-29T22:00:00.000Z
2,2,3347,1409793.92,LA,Hurricane,TROPICAL STORM ISAAC,2012-08-26T00:00:00.000Z
3,3,3348,253189.73,MS,Hurricane,TROPICAL STORM ISAAC,2012-08-26T00:00:00.000Z
4,4,3349,0.00,MD,Hurricane,HURRICANE SANDY,2012-10-26T15:36:00.000Z

In [22]:
incidentCost = costData[['obligationAmount', 'incidentType']]
#incidentCost.rename(columns={'obligationAmount':'fema_payout'},inplace=True)
incidentCost.head()

   obligationAmount   incidentType
0         904490.14  Severe Storms
1         842464.67  Severe Storms
2        1409793.92      Hurricane
3         253189.73      Hurricane
4              0.00      Hurricane

In [44]:
X = incidentCost['obligationAmount'].values.reshape(-1, 1)
y = incidentCost['incidentType']
print(X.shape, y.shape)

(334, 1) (334,)

In [45]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=50)

In [46]:
from sklearn.linear_model import LogisticRegression
classifier = LogisticRegression(max_iter=1000)
classifier

LogisticRegression(max_iter=1000)

In [47]:
classifier.fit(X_train, y_train)

LogisticRegression(max_iter=1000)

In [48]:
print(f"Training Data Score: {classifier.score(X_train, y_train)}")
print(f"Testing Data Score: {classifier.score(X_test, y_test)}")

Training Data Score: 0.252
Testing Data Score: 0.2619047619047619

In [49]:
predictions = classifier.predict(X_test)
print(f"First 10 Predictions:   {predictions[:10]}")
print(f"First 10 Actual labels: {y_test[:10].tolist()}")

First 10 Predictions:   ['Hurricane' 'Hurricane' 'Hurricane' 'Hurricane' 'Hurricane' 'Hurricane'
 'Hurricane' 'Hurricane' 'Hurricane' 'Hurricane']
First 10 Actual labels: ['Flood', 'Flood', 'Flood', 'Hurricane', 'Severe Storms', 'Severe Storms', 'Severe Storms', 'Hurricane', 'Hurricane', 'Flood']

In [50]:
pd.DataFrame({"Prediction": predictions, "Actual": y_test}).reset_index(drop=True)

       Prediction         Actual
0       Hurricane          Flood
1       Hurricane          Flood
2       Hurricane          Flood
3       Hurricane      Hurricane
4       Hurricane  Severe Storms
..            ...            ...
79      Hurricane  Severe Storms
80      Hurricane  Severe Storms
81      Hurricane          Flood
82      Hurricane           Fire
83  Severe Storms      Hurricane

[84 rows x 2 columns]