In [26]:
%matplotlib inline
import pandas as pd
import numpy as np
import requests
import matplotlib.pyplot as plt
import warnings
warnings.filterwarnings('ignore')

In [16]:
disasterCostData = "costDataRevised.csv"
cost_df = pd.read_csv(disasterCostData)
cost_df.head()

,Unnamed: 0,disasterNumber,obligationAmount,state,incidentType,declarationTitle,incidentBeginDate,lat,lon,incidentDate,incidentTime
0,0,3345,904490.14,WV,Severe Storms,SEVERE STORMS,2012-06-29T22:30:00.000Z,39.453524,-78.039552,2012-06-29,22:30:00.000Z
1,1,3346,842464.67,OH,Severe Storms,SEVERE STORMS,2012-06-29T22:00:00.000Z,38.839894,-83.505170,2012-06-29,22:00:00.000Z
2,2,3347,1409793.92,LA,Hurricane,TROPICAL STORM ISAAC,2012-08-26T00:00:00.000Z,30.211644,-90.918610,2012-08-26,00:00:00.000Z
3,3,3348,253189.73,MS,Hurricane,TROPICAL STORM ISAAC,2012-08-26T00:00:00.000Z,33.077787,-89.568066,2012-08-26,00:00:00.000Z
4,4,3349,0.00,MD,Hurricane,HURRICANE SANDY,2012-10-26T15:36:00.000Z,38.528853,-76.537764,2012-10-26,15:36:00.000Z

In [28]:
weather_data = []
for index, row in cost_df.iterrows():
    print(row['lat']) 
    print(row['lon']) 
    print(row['incidentDate'])
    #lat = 39.4535243
    #lon = -78.0395522
    #date = '2012-06-29'
    url = f'https://weather.visualcrossing.com/VisualCrossingWebServices/rest/services/timeline/{lat}%2C{lon}/{date}?unitGroup=us&key=WAH7SGPNNNY6MRXZ7KYSSKC8M&include=obs'

print(requests.get(url).json())

{'queryCost': 1, 'latitude': 39.4535243, 'longitude': -78.0395522, 'resolvedAddress': '39.4535243,-78.0395522', 'address': '39.4535243,-78.0395522', 'timezone': 'America/New_York', 'tzoffset': -4.0, 'days': [{'datetime': '2012-06-29', 'datetimeEpoch': 1340942400, 'tempmax': 102.0, 'tempmin': 71.4, 'temp': 86.7, 'feelslikemax': 106.9, 'feelslikemin': 71.4, 'feelslike': 89.8, 'dew': 66.7, 'humidity': 54.49, 'precip': 0.09, 'precipprob': None, 'precipcover': 8.33, 'preciptype': None, 'snow': None, 'snowdepth': None, 'windgust': 47.9, 'windspeed': 22.8, 'winddir': 269.8, 'pressure': 1007.2, 'cloudcover': 12.8, 'visibility': 9.6, 'solarradiation': None, 'solarenergy': None, 'uvindex': 0.0, 'sunrise': '05:48:08', 'sunriseEpoch': 1340963288, 'sunset': '20:43:13', 'sunsetEpoch': 1341016993, 'moonphase': 0.38, 'conditions': 'Rain', 'description': 'Clear conditions throughout the day with late afternoon rain.', 'icon': 'rain', 'stations': ['KMRB', '72405303717', '72406693706', '72417713734', 'KHGR', 'KOKV'], 'source': 'obs'}], 'stations': {'KMRB': {'distance': 7856.0, 'latitude': 39.4, 'longitude': -77.98, 'useCount': 0, 'id': 'KMRB', 'name': 'KMRB', 'quality': 100, 'contribution': 0.0}, '72405303717': {'distance': 35696.0, 'latitude': 39.143, 'longitude': -78.144, 'useCount': 0, 'id': '72405303717', 'name': 'WINCHESTER REGIONAL AIRPORT, VA US', 'quality': 100, 'contribution': 0.0}, '72406693706': {'distance': 38662.0, 'latitude': 39.706, 'longitude': -77.73, 'useCount': 0, 'id': '72406693706', 'name': 'HAGERSTOWN REGIONAL AIRPORT, MD US', 'quality': 100, 'contribution': 0.0}, '72417713734': {'distance': 9836.0, 'latitude': 39.404, 'longitude': -77.945, 'useCount': 0, 'id': '72417713734', 'name': 'MARTINSBURG EASTERN WEST VIRGINIA REGIONAL AIRPORT, WV US', 'quality': 100, 'contribution': 0.0}, 'KHGR': {'distance': 38187.0, 'latitude': 39.7, 'longitude': -77.73, 'useCount': 0, 'id': 'KHGR', 'name': 'KHGR', 'quality': 99, 'contribution': 0.0}, 'KOKV': {'distance': 35102.0, 'latitude': 39.15, 'longitude': -78.15, 'useCount': 0, 'id': 'KOKV', 'name': 'KOKV', 'quality': 99, 'contribution': 0.0}}}