In [1]:
import pandas as pd
from sqlalchemy import create_engine

In [2]:
tornado_file = "static/data/Historical_Tornado_Tracks.csv"
tornado_df = pd.read_csv(tornado_file)
tornado_df.head()

,FID,OM,YR,MO,DY,DATE,TIME,TZ,ST,STF,...,FAT,LOSS,CLOSS,SLAT,SLON,ELAT,ELON,LEN,WID,Shape_Leng
0,2001,141,2002,6,5,2002-06-05,16:45:00,3,FL,12,...,0,0.000,0.0,28.08,-82.78,28.08,-82.78,0.1,20,0.000000
1,2002,142,2002,6,8,2002-06-08,13:40:00,3,FL,12,...,0,0.500,0.0,27.73,-82.73,27.72,-82.75,1.0,40,0.022361
2,2003,145,2002,6,17,2002-06-17,16:40:00,3,FL,12,...,0,0.000,0.0,27.48,-82.72,27.48,-82.72,0.1,20,0.000000
3,2004,187,2002,7,11,2002-07-11,12:30:00,3,FL,12,...,0,0.020,0.0,27.77,-82.77,27.77,-82.77,0.5,40,0.000000
4,2005,188,2002,7,12,2002-07-12,06:30:00,3,FL,12,...,0,0.001,0.0,27.92,-82.80,27.92,-82.80,0.5,40,0.000000