In [1]:
import pandas as pd

In [15]:
table = pd.read_html("../app/static/data/state_areas.html")
areas_df = table[0]
areas_df = areas_df.drop(index=[0,1]).drop(columns=3, axis=1).reset_index(drop=True).rename(columns={0:"rank", 1:"state", 2:"sq_mi"})

In [16]:
areas_df.head()

  rank       state     sq_mi
0    1      Alaska  665384.0
1    2       Texas  268596.5
2    3  California  163694.7
3    4     Montana  147039.7
4    5  New Mexico  121590.3

In [17]:
areas_df.dtypes

rank     object
state    object
sq_mi    object
dtype: object

In [19]:
areas_df.to_csv("../app/static/data/state_areas.csv", index=False)