In [1]:
import pandas as pd

In [29]:
table = pd.read_html("../app/static/data/state_areas.html")
areas_df = table[0]
areas_df = areas_df.drop(index=[0,1]).drop(columns=[0, 3], axis=1).rename(columns={0:"rank", 1:"state", 2:"sq_mi"})

In [30]:
areas_df.set_index('state', inplace=True)

In [34]:
areas_df['sq_mi'] = areas_df['sq_mi'].astype(float)
areas_df

                   sq_mi
state
Alaska          665384.0
Texas           268596.5
California      163694.7
Montana         147039.7
New Mexico      121590.3
Arizona         113990.3
Nevada          110571.8
Colorado        104093.7
Oregon           98378.5
Wyoming          97813.0
Michigan         96713.5
Minnesota        86935.8
Utah             84896.9
Idaho            83569.0
Kansas           82278.4
Nebraska         77347.8
South Dakota     77115.7
Washington       71298.0
North Dakota     70698.3
Oklahoma         69898.9
Missouri         69707.0
Florida          65757.7
Wisconsin        65496.4
Georgia          59425.2
Illinois         57913.6
Iowa             56272.8
New York         54555.0
North Carolina   53819.2
Arkansas         53178.6
Alabama          52420.1
Louisiana        52378.1
Mississippi      48431.8
Pennsylvania     46054.4
Ohio             44825.6
Virginia         42774.9
Tennessee        42144.3
Kentucky         40407.8
Indiana          36419.6
Maine            35379.7
South Carolina   32020.5
West Virginia    24230.0
Maryland         12405.9
Hawaii           10931.7
Massachusetts    10554.4
Vermont           9616.4
New Hampshire     9349.2
New Jersey        8722.6
Connecticut       5543.4
Delaware          2488.7
Rhode Island      1544.9

In [35]:
areas_df.to_json("../app/static/data/state_areas.json")